<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Popup</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/bot.css">
</head>
<body> 
    <div>
        <a href="./home.ejs">
            <img src="./images/logo.png">

        </a>
   <h3>Live Chat</h3>
</div>
    <div id=Container> 
        <div id="messageContainer"></div>
        <div id="inputArea">
            <input id="userInput" class="submit" type="text" value="">
            <button class="submitBTN" type="button" onclick="decide();">Send</button>
            <!-- <span id="Suggestion">Reply with yes or no</span> -->
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>


    
    <script src="./js/bot.js"></script>
</body>
</html>