<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geekbuying |your bag</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/buyprod.css">
    <link rel="stylesheet" href="css/homeIndex.css">
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"> -->


   
</head>
<body>
  <header>
    <div id="fix1">
  <div id="head-wrap">
      <p><a href="">
        Support Center <img id="downAero" src="https://www.svgrepo.com/show/12251/down-chevron.svg" alt="#">
      </a></p>
      <p>Language <img id="downAero" src="https://www.svgrepo.com/show/12251/down-chevron.svg" alt="#"></p>
      <p>Shipping <img id="downAero" src="https://www.svgrepo.com/show/12251/down-chevron.svg" alt="#"></p>
      <p>
        Save big with our app <img id="downAero" src="https://www.svgrepo.com/show/12251/down-chevron.svg" alt="#">  </p>
    </div>
    <div id="h"> </div>  

  <div id="head-wrap1">

      <div class="head_logo">
              <a href="./home.ejs"><img src="images/logo.png" alt="geekbuying"></a> 
              <a><img id="hamburger"  src="images/hambrger.png"/></a>
              <span class="icon-classes" id="naviBtn"></span>
      </div>
      <div id="searchbox">
          <input id="fix4" type="text" placeholder="Search any keyword" />
          <button id="searchIcon">
          <i id="fix5" class="fa fa-search"></i>
        
          </button>
      </div>
      <!-- last div -->
      <div class="nav-last">
        <div>
          <a href="login.html">
            <img
              id="svg"
              src="https://www.svgrepo.com/show/198180/user-profile.svg"
              alt=""
            />
          </a>

          <div>Profile</div>
        </div>

        <div>
          <a href="">
            <img
              id="svg"
              src="https://www.svgrepo.com/show/14970/heart.svg"
              alt=""
            />
          </a>

          <div>Wishlist</div>
        </div>

        <div>
          <a href="">
            <img
              id="svg"
              src="https://www.svgrepo.com/show/343743/cart.svg"
              alt=""
            />
          </a>

          <div>Cart</div>
        </div>
      </div>
    </div>

  </div>
    <!-- second text div -->

    <div id="textdiv">
        <div>Shop All Categories
            <img id="downAero" src="https://www.svgrepo.com/show/12251/down-chevron.svg" alt="#">
        </div>
        <div>NEW
            <img id="downAero" src="https://www.svgrepo.com/show/12251/down-chevron.svg" alt="#">
        </div>
        <div>TOP SELLER
            <img id="downAero" src="https://www.svgrepo.com/show/12251/down-chevron.svg" alt="#">
        </div>
        <div>LIVE
            <img id="downAero" src="https://www.svgrepo.com/show/12251/down-chevron.svg" alt="#">
        </div>
        <div>BRAND
            <img id="downAero" src="https://www.svgrepo.com/show/12251/down-chevron.svg" alt="#">
        </div>
        <div>CLEARANCE
            <img id="downAero" src="https://www.svgrepo.com/show/12251/down-chevron.svg" alt="#">
        </div>
        <div>COUPAN
            <img id="downAero" src="https://www.svgrepo.com/show/12251/down-chevron.svg" alt="#">
        </div>
    </div>
<!-- </div> -->
</header>

<div class="content" id="content"></div>
</body>
</html>
<!-- <script src="js/items.js"></script> -->
<script src="js/buyProd.js">
  function addtoCart(item) {

      window.location.href = "login.ejs";

  }
</script>