<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Geekbuying|Products</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/products.css" />
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/homeIndex.css">

  </head>
  <body>
    <main>
      <header>
    <div id="head-wrap">
        <p>Save big with our app <img id="downAero" src="https://www.svgrepo.com/show/12251/down-chevron.svg" alt="#"></p>
        <p>Language <img id="downAero" src="https://www.svgrepo.com/show/12251/down-chevron.svg" alt="#"></p>
        <p>Shipping <img id="downAero" src="https://www.svgrepo.com/show/12251/down-chevron.svg" alt="#"></p>
        <p>Support Center <img id="downAero" src="https://www.svgrepo.com/show/12251/down-chevron.svg" alt="#"></p>
    </div>
    <div id="head-wrap1">
        <div class="head_logo">
                <a href="home.ejs"><img src="images/logo.png" alt="geekbuying"></a> 
                <span class="icon-classes" id="naviBtn"></span>
        </div>
        <div id="searchbox">
            <input type="text" placeholder="What are you looking for?" />
            <button id="searchIcon">
            <i class="fa fa-search"></i>
            </button>
        </div>
        <!-- last div -->
        <div class="nav-last">
          <div>
            <a href="">
              <img
                id="svg"
                src="https://www.svgrepo.com/show/198180/user-profile.svg"
                alt=""
              />
            </a>

            <div>Profile</div>
          </div>

          <div>
            <a href="">
              <img
                id="svg"
                src="https://www.svgrepo.com/show/14970/heart.svg"
                alt=""
              />
            </a>

            <div>Wishlist</div>
          </div>

          <div>
            <a href="">
              <img
                id="svg"
                src="https://www.svgrepo.com/show/343743/cart.svg"
                alt=""
              />
            </a>

            <div>Cart</div>
          </div>
        </div>
      </div>

      <!-- second text div -->

      <div id="textdiv">
          <div>Shop All Categories
              <img id="downAero" src="https://www.svgrepo.com/show/12251/down-chevron.svg" alt="#">
          </div>
          <div>NEW
              <img id="downAero" src="https://www.svgrepo.com/show/12251/down-chevron.svg" alt="#">
          </div>
          <div>TOP SELLER
              <img id="downAero" src="https://www.svgrepo.com/show/12251/down-chevron.svg" alt="#">
          </div>
          <div>LIVE
              <img id="downAero" src="https://www.svgrepo.com/show/12251/down-chevron.svg" alt="#">
          </div>
          <div>BRAND
              <img id="downAero" src="https://www.svgrepo.com/show/12251/down-chevron.svg" alt="#">
          </div>
          <div>CLEARANCE
              <img id="downAero" src="https://www.svgrepo.com/show/12251/down-chevron.svg" alt="#">
          </div>
          <div>COUPAN
              <img id="downAero" src="https://www.svgrepo.com/show/12251/down-chevron.svg" alt="#">
          </div>
      </div>
    </div>
    </header>
    <!-- Header part complete -->

      <!-- Main Page content -->
      <div id="center1" class="content">
        <div class="midsize">Home / <span>Electronic Gadgets...</span></div>
        <div class="midsizeplus padding">
          Best search <span> -3 items</span>
        </div>

        <div class="products-catalogue">
          

          <div class="right">
            <!-- main content appear here via js -->
            <div id="products-right"></div> 
          </div>
        </div>
      </div>
    </main>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>

             <!-- //footer start ___________________________________________________________ -->
<div id="color_fix">    
    <div id="set">
      <div id="mainbottom">
   <div id="inp2">
       <input type="email" placeholder="Enter email to get a 5% off coupon" id="inp_b">
       <button id="butb">Subscibe</button>
   </div>
   <div id="inp3">
<img src="https://img.icons8.com/material-rounded/24/000000/facebook-new.png"/><br>
<img src="https://img.icons8.com/small/24/000000/youtube--v1.png"/><br>
<img src="https://img.icons8.com/fluency-systems-filled/24/000000/telegram-app.png"/><br>
<img src="https://img.icons8.com/material-outlined/24/000000/instagram-new--v1.png"/><br>
<img src="https://img.icons8.com/ios-glyphs/30/000000/twitter--v1.png"/><br>
<img src="https://img.icons8.com/material-rounded/24/000000/android-os.png"/><br>
<img src="https://img.icons8.com/ios-glyphs/30/000000/mac-os.png"/><br>
<img src="https://img.icons8.com/material-rounded/24/000000/android.png"/><br>

<img src="https://img.icons8.com/ios-glyphs/30/000000/ios-logo.png"/><br>

       
   </div>
</div>
<div id="bottombody">   
<div id="about">
<h4>About Geekbuying</h4>

<p id="p1">We at Geekbuying are all about making our customers'
   lives comfortable and smarter. We have a massive selection of 
   products and offer unbeatable prices. If you are looking for the
    latest and the greatest product in categories like smart home and 
    outdoor gadgets, Geekbuying is where you should be!</p>

<p id="p1">Geekbuying is the ultimate shopping hub for new releases 
   covering smart home products like vacuum cleaners, fitness equipment
    like treadmills, top of the line home and office furniture, outdoor items
     including e-bikes, scooters, and other consumer goods like TV boxes, RC
      Toys] and so much more! Shop for your favorite brands and products today!</p>
</div> 


<div id="help"> <h3>Help</h3>
<div>Order status</div>
<div>About us</div>
<div>contact us</div>
<div>Warranty</div>
<div>FAQs</div>
<div>Xiaomi and Mi-brand</div>
<div>Sitemap</div>
</div>
<div id="sup"><h3>Support</h3>
<p>Payment information</p>
<p>Shipping guide</p>
<p>Whole sale</p>
<p>Affiliates</p>
<p>Student Discount</p>
<p>Request a sample</p>
</div>
<div id="pol"><h3>Policies</h3>
<p>Terms&conditions</p>
<p>Return privacy</p>
<p>Declaration</p>
<p>Declaration</p>
<p>customs</p>
</div>

</div>

<h5>Popular Searches</h5>
<br>
<div id="p21">

   <p class="p2">Geekbuying Coupon</p>
   <p class="p2">Tronsmart Bluetooth Speakers</p>
   <p class="p2">Windows Mini PC</p>
   <p class="p2">android tv boxes</p>
   <p class="p2">Roborock S7</p>
   <p class="p2">LDS Robot Vacuum</p>
   <p class="p2">Electric Bike</p>
   <p class="p2">Walking Machine</p>
   <p class="p2">Xiaomi</p>
</div>
<br>
<div id="fo">English | Español | Français | Deutsch | Italiano | Português | Nederlands | Polski | Русский | Türkçe | ελληνικά | Magyar | لعربية | עברית  | ไทย|日本語
</div>
<!-- //end -->
<hr>
<div id="end">
   <img src="https://content1.geekbuying.com/V1.4/en/images/index_images/footicons.jpg">
</div>
 
</div>
<!-- </div> -->
</div>
  </body>
</html>
<script src="js/products.js"></script>
<script src="js/items.js"></script>