* {
	margin: 0;
	text-decoration: none;
	list-style: none;
	padding: 0;
	font-family: "Open Sans", sans-serif;
}
:root {
	/* font-family: "Open Sans", sans-serif; */
	--bodyWhite: #ffffff;
	--lighttext: #666666;
	--superlight: #999999;
	--darktext: #333333;
	--puredark: #000000;
	--lightblue: #074ea3;
}

body {
	width: 100%;
	height: auto;
	background-color: var(--bodyWhite);
	text-align: center;
}

#Container {
	width: 100%;
	height: auto;
	background-color: #f2f2f2;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 80%;
	color: var(--darktext);
	margin: auto;
}

#messageContainer {
	width: 600px;
	height: auto;
}

.newButton {
	width: auto;
	height: 40px;
	/* background: linear-gradient(
		96.04deg,
		rgba(255, 255, 255, 0.4) 0%,
		rgba(255, 255, 255, 0) 100%
	); */
	backdrop-filter: blur(15px);
	background-clip: padding-box;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 20px !important;
	box-sizing: border-box;
	padding: 10px;
	display: flex;
	align-items: center;

	clear: both;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: var(--lighttext);
}

.userInputBtn {
	width: auto;
	height: 40px;
	float: right;
	background: linear-gradient(
		96.04deg,
		rgba(255, 255, 255, 0.4) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	backdrop-filter: blur(15px);
	background-clip: padding-box;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 20px !important;
	box-sizing: border-box;
	padding: 10px;
	/*
    display: flex;
    align-items: center;
    */

	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: var(--lighttext);
}

#Text {
	width: auto;
	height: 40px;
	background: linear-gradient(
		96.04deg,
		rgba(255, 255, 255, 0.4) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	backdrop-filter: blur(15px);
	background-clip: padding-box;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 20px !important;
	box-sizing: border-box;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	padding: 10px;
	color: #ffffff;
}

@keyframes blink {
	0% {
		opacity: 0.2;
	}
	30% {
		opacity: 1;
	}
	100% {
		opacity: 0.2;
	}
}

#Text span {
	animation-name: blink;
	animation-duration: 1.5s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
}

#Text span:nth-child(2) {
	animation-delay: 0.2s;
}

#Text span:nth-child(3) {
	animation-delay: 0.4s;
}

#inputArea {
	width: 70%;
	height: auto;
	margin-top: 10%;
	/* position: fixed; */
}

.submit {
	margin: 10px;
	width: 500px;
	height: 30px;

	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;

	padding: 10px;

	border-radius: 10px;
	border: none;
	outline: none;
}

.submitBTN {
	width: 60px;
	height: 30px;

	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;

	text-align: center;
}

#Suggestion {
	font-size: 10px;
	font-family: poppins;
}
