* {
	margin: 0;
	text-decoration: none;
	list-style: none;
	padding: 0;
	font-family: "Open Sans", sans-serif;
}
:root {
	/* font-family: "Open Sans", sans-serif; */
	--bodyWhite: #ffffff;
	--lighttext: #666666;
	--superlight: #999999;
	--darktext: #333333;
	--puredark: #000000;
	--lightblue: #074ea3;
}
body #have {
	background-color: #f2f2f2;
}
#set {
	width: 80%;
	margin: auto;
	/* border: 2px solid black; */
	background-color: var(--bodyWhite);
}
#mainbottom {
	/* border: 2px solid black; */
	padding: 20px;
	display: flex;
}
#inp_b {
	margin: -15px;
	width: 80%;
	border-color: var(--lightblue);
	padding: 3px;
	border-radius: 3px;
}
#inp2 {
	/* border: 2px solid black; */
	/* padding: 10px; */
	width: 50%;
}
#butb {
	padding: 3px;
	width: 120px;
	background-color: var(--lightblue);
	border-radius: 0 3px 3px 0;
	color: #ffffff;
	margin-left: -10px;
}
#inp3 {
	width: 50%;
	/* border: 1px solid black; */
	/* padding: 5px; */
	justify-content: space-between;
	/* padding-left: 20px; */
	display: flex;
}

#about {
	width: 50%;
	/* border: 1px solid black; */
	padding: 8px;
	line-height: 35px;
}
#p1 {
	font-size: 12px;
	line-height: 24px;
	color: var(--superlight);
	/* padding: 8px; */
}
#help {
	font-size: 12px;
	line-height: 24px;
	width: 16%;
	/* border: 1px solid black; */
	padding: 8px;
	margin-left: 20px;
}
#sup {
	/* width: 15%; */
	font-size: 12px;
	line-height: 24px;
	width: 16%;
	/* border: 1px solid black; */
	padding: 8px;
}
#pol {
	font-size: 12px;
	line-height: 24px;
	width: 14%;
	/* border: 1px solid black; */
	padding: 8px;
	/* margin-left: 20px; */
}
#bottombody {
	display: flex;
}
#end {
	margin-left: 7%;

	padding: 20px;
}
#p21 {
	display: flex;
	/* flex-basis: auto;*/
	/* justify-content: center; */
	justify-content: space-evenly;
	padding: 10px;
}
.p2 {
	/* border: 1px solid black; */
	flex-basis: auto;
	font-size: 13px;
	color: var(--superlight);
	background-color: #f1f1f1;
	padding: 5px;
}
#fo {
	color: var(--superlight);
	font-size: 13px;
	text-align: center;
}

/* //gggggggggggggggggggggggggggggggggggggggggggggg___________ */
#head-wrap {
	width: 80%;
	margin: 5px auto;
	display: flex;
	flex-direction: row-reverse;
	/* border: 1px solid black; */
}
#fix1 {
	/* position: fixed; */
	/* border: 2px solid black; */
	background-color: var(--bodyWhite);
}
#head-wrap p {
	margin-right: 25px;
	cursor: pointer;
	font-size: 12px;
}
/* second div */
#head-wrap1 {
	/* position: fixed; */

	/* border: 1px solid red; */
	width: 80%;
	height: 60px;
	display: flex;
	margin: 0px auto;
	/* display: none; */
}
#searchbox {
	padding: 10px;
	justify-content: center;
	display: flex;
}
#searchbox > input {
	height: 35px;
	width: 400px;
	/* padding: 0px 5px; */
	border: 1px solid rgb(201, 201, 201);
	border-radius: 0.25px;
	font-size: 15px;
	margin-top: 0px;
}

.head_logo img {
	height: 60px;
	width: 250px;
	margin: auto;
	cursor: pointer;
}

.nav-last {
	padding: 0 12px 0 17px;
	position: relative;
	display: flex;
	height: 40px;
	margin-left: 80px;
	/* border: 1px solid red; */
}
.nav-last > div {
	display: flex;
	flex-direction: row;
	/* border: 1px solid red; */
	text-align: center;
	font-size: 12px;
	font-weight: 500;
	align-items: center;
	padding-top: 5px;
	margin-left: 15px;
}

#svg {
	height: 30px;
	/* border: 1px solid red; */
	margin-left: 4px;
}
#downAero {
	height: 12px;
	width: 15px;
}
#textdiv {
	width: 80%;
	height: 20px;
	display: flex;
	margin: 1px auto;
	/* border: 1px solid pink; */
}
#textdiv div {
	margin-left: 30px;
	font-weight: bold;
	font-size: 12px;
	margin-top: 0px;
	cursor: pointer;
}
/* Header Part Style complete */

/* carosal style part start */
.mySlides {
	display: none;
}

/* Slideshow container */
.slideshow-container {
	max-width: 80%;
	position: relative;
	margin: 30px auto 0;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 10px;
	width: 10px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

/* Product aad first div */

/* img link container */
.img-link-container {
	/* border: 1px solid red; */
	width: 98%;
	margin: 0% auto;
	display: grid;
	grid-template-columns: repeat(4, 22.7%);
	gap: 3%;
	row-gap: 0;
	/* height: auto; */
}

.img-link-container img {
	width: 100%;
	height: 100%;
}
#product_div {
	background-color: #f2f2f2;
	width: 80%;
	margin: 0% auto;
}
.img-link-container a:hover {
	position: relative;
	top: -5px;
	right: -15px;
	width: 98%;
	height: auto;
	display: block;
	z-index: 999;
}

/* Add to bag products */
#bag_div {
	width: 80%;
	margin: 0% auto;
	background-color: #f2f2f2;
}
.text-banner-container {
	width: 80%;
	margin: 0% auto;
}
.img-link-container-2 {
	/* border: 1px solid cyan; */
	width: 98%;
	/* margin: 0% auto; */
	margin: 3.5%;
	display: grid;
	grid-template-columns: repeat(4, 22.7%);
	gap: 3%;
	row-gap: 4px;
}

.img-link-container-2 img {
	width: 100%;
}

#fixx img {
	width: 80%;
	/* height: 200px; */
	margin-left: 10%;
}

/* //header imp fix */
#fix4 {
	/* padding: -10px; */
	height: 25px !important;
	padding: 3px;
	border-radius: 4px !important;
}
#searchIcon {
	color: white;
	background-color: #074ea3;
	padding: 5px;

	width: 70px;
	border: 1px solid #074ea3;

	cursor: pointer;
	border-radius: 0 5px 5px 0;
	font-size: 18px;
	height: 33px;
}
#hamburger {
	height: 30px;
	width: 40px;
	margin-bottom: 20px !important;
	color: #000000;
	background-color: #ffffff;
}
#h {
	width: 100%;
	height: 70px;
	border: 1px solid blueviolet;
	display: none;
}
#color-fix {
	width: 100%;
	height: 900px;
	border: 2px solid black !important;
	background-color: var(--bodyWhite) !important;
}
